body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
}
nav ul,
nav li {
  display: contents;
}
nav {
  display: flex;
}
nav a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em; 
  flex: 1;
}
